

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(194, 191, 191);
    color: rgb(226, 224, 224);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main { 
    height: 220px;
    background: rgba(108, 189, 255, 0.18);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 18px;
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#background-clima{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#Thema-Button{ 
    color: white;
    background: rgba(108, 189, 255, 0.18);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 18px;
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 5rem;
}

#input-form form{
    display: flex;
    width: 100%;
}

#input-local{
    flex: 1;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-right: 5px;
}

#botao-pesquisar {
    padding: 3px;
    background-color: rgb(26, 28, 28);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}


#tempo-info {
    display: flex;
    height: 80px;
}

#tempo-info img {
    margin-top: 0.9rem;
    height: 90px;
}

#tempo-dados {
    margin-top: 1.5rem;
    margin-right: 9rem;
}

#tempo-dados h2 {
    font-size: 15px;
    font-weight: bold;
}

#tempo-dados span {
    font-size: 40px;
    font-weight: bold;
}


